.card >.list-group >.list-group-item {

   display: flex;
   flex-direction: row;
   justify-content: space-between;

}

.card >.card-body {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
 }

 /*  Clase para tarjetas pequeñas MAC 9/25/22 */
 .small-img{
      width:100%;
      max-width:100px;
      max-height: 100px;
 }

 /* Clase para letras pequeñas MAC 9/25/22 */
 .small-font{
   font-size: 1rem;
 }

  /* Clase para bacground gris MAC 9/26/22 */
  .bg-lightcyan{
   background-color: lightcyan;
 }

 .container-flex-object {
  
   display: flex;
   flex-direction:row;
 
   justify-content:space-between;
   flex-wrap: wrap;
 }